/* ----------------------------------------------- */
/* Header styless
/* ----------------------------------------------- */

#menuHeader{
margin-bottom: 1em;
}

.subDescription{
    font-size: 1em;
    text-align: center;
    margin-top: 0.7em;
    text-transform: capitalize;
    font-weight: 800;
    color:#000000;
}

/* ----------------------------------------------- */
/* Sections Styles
/* ----------------------------------------------- */
.labelContainer h2{
     font-family: 'Arvo', serif;
     text-align: center;
     font-size: 1.2em;
}





.spanContainer span{
    display:inline-block;
    height: 2px;
    width: 10em;
    background: #cf7053;
    border-radius: 9px;
    margin: 0.8em 0;
}

.spanContainer{
    text-align: center;
    margin: 0;
}



.tinLine{
    display:inline-block;
    height: 0.5px;
    width: 80%;
    background: #000000;
    margin-top: 2em;
}

/* ----------------------------------------------- */
/* Appetizers styless
/* ----------------------------------------------- */
.FoodBox {
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 190px;
    margin: 0 auto;
    border-radius: 10px;
}

.appetizer, .dessert{
   background-color: #d3d5d7;
    padding: 1.5em;
    }

  

    .entrees{
       padding: 1.5em;
    }
    
    .description{
        font-size: 1em;
        margin: 0 auto;
        width: 65%;
        text-align: center;
        
    }

    
    
.FoodName{
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.FoodPrice{
    color: #cf7053;
    font-size: 1em;
    margin-top: 0.8em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5em;
    
}

.FoodPriceContainer{
    margin: 0 auto;
}

.Appetizer1{
    background-image: url(../assets/VenezuelanFoodCombo.jpg);
   
}   

.Appetizer2{
    background-image: url(../assets/VenezuelanFoodEmpanada.jpg);  
}   

.Appetizer3{
    background-image: url(../assets/VenezuelanFoodStick.jpg);  
}

.Appetizer4{
    background-image: url(../assets/VenezuelanFoodArepa5.jpg);  
}

.Entree1{
    background-image: url(../assets/VenezuelanFoodArepa3.jpg);  
}

.Entree2{
    background-image: url(../assets/VenezuelanFoodBurger.jpg);  
}

.Entree3{
    background-image: url(../assets/VenezuelanFoodPabellon.jpg);  
}

.Entree4{
    background-image: url(../assets/VenezuelanFoodArepa.jpg);  
}

.Dessert1{
    background-image: url(../assets/dessert1.jpg);
}

.Dessert2{
    background-image: url(../assets/dessert2.jpg);
}

.Dessert3{
    background-image: url(../assets/dessert3.jpg);
}

.Dessert4{
    background-image: url(../assets/dessert4.jpg);
}


/* ----------------------------------------------- */
/* Footer Section styless
/* ----------------------------------------------- */

#contactInformation{
    background-color: #f8f8f8;
}


/* ----------------------------------------------- */
/* Media Queries  */
/* ----------------------------------------------- */
@media only screen and (min-width: 700px)  {
    .FoodBox {
        width: 50%;
        height: 220px;
        margin: 0.5em auto;
        
    }

    .subDescription{
        font-size: 1.6em;
        margin-top: 0.7em;
        margin-bottom: 1em;
        text-transform: capitalize;
        
    }

    .labelContainer h2{
        
        font-size: 1.7em;
   }

 
    .description{
     font-size: 1.2em;
     
     
     }

 
 
    .FoodName{
    font-size: 1.5em;
    margin-top: 1.2em;
    }

    .FoodPrice{
    
    font-size: 1.3em;
    margin-top: 0.8em;
    margin-bottom: 1.6em;
 
}
   
    
    

}

@media only screen and (min-width: 1023px)  {

    .FoodContainer{
        display: grid;
        flex-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 1em;
    }

    .FoodBox {
        width: 70%;
        height: 420px;
        
    }

    .description{
        width: 70%;
    }

    .subDescription{
        font-size: 1.8em;
        margin-bottom: 2em;
    }

    .labelContainer{
        font-size: 1.7em;
    }


    

}